{% extends "base.html.twig" %}

{% block title %}
<title>Wildhome</title>
<img src="{{ asset('build/images/Lion-homepage.png') }}" alt="homeimg"/>
{% endblock %}


{% block body %}

    <h1>Bienvenue! Sarace....</h1>

{% endblock %}
