{% extends "base.html.twig" %}

{% block title %}
<title>Hello DefaultController!</title>
<img src="{{ asset('build/images/fond.jpeg') }}" alt="homeimg"/>
{% endblock %}


{% block body %}

    <h1>Bienvenue! Sarace....</h1>

{% endblock %}
